* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* pagina principal */

.logo{
    margin-left: 50px;
    
}
.main__div i{
    color: rgb(239, 245, 239);
    background-color: green;
    font-size: 70px;
    border-radius: 15%;
}
.fixed{
    position: fixed;
    right: 50px;
   
}

    
header{
    background-image: linear-gradient(to top, rgb(29, 27, 27), rgb(13, 56, 13));
    display: flex;
    text-align: center;
    border: 3px solid rgb(11, 12, 12);
    flex-direction: row;
    justify-content: flex-start;
    background-size: 100%;
    
    height: 23vh;
    
    
    
}
.prin{
    height: 60vh;
    display: flex;
    flex-direction: inline;
}
.nosotros {
    margin-top: 25px;
    display: flex;
}
.iconoA{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


   

.lista{
    display:inline-flex;

    padding: 7% ;
    width: 10%;
    font-size: 1.5em;
    margin-right: 40px;
    

    
}

 li { 
    display: inline-block;
   
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
 }
 .lista li a{
    text-decoration: none;
    color: white;
  
   
}
.lista li:hover {
    background-color: rgb(8, 134, 56);
    border-radius: 20%;
    
    
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(6, 82, 37);
    line-height: 1fr;
    font-weight: bold;
    position: absolute;
    
    left: 40%;
    font-size: 2em;
    margin-top: 2%;
    
}

footer {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
   color: rgb(245, 240, 240);
   background-image: linear-gradient(to top, rgb(29, 27, 27), rgb(13, 56, 13));
    text-align: left;
    border: solid 3px green;
    
    height: 15vh;
}


section{
    display: flex;
    justify-content:space-around;
    margin-left: 7%;
    margin-top: 5%;
  
}


 
.main__parrafo1{
    color: rgb(19, 16, 16);
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5;
    width: 700px;
    padding: 5%;
    display: inline-block;
    position: relative;
    margin-top: 5%;
  
    
    
}
.main__div .nosotros p{
    margin-left: 10%;
    padding-left: 5%;
    margin-top: 3%;
}
 .main__div .nosotros img{
   margin-top: 3%;    
    margin-left: 5%;
    margin-bottom: 8%;
}
.main__div.crypto{
    display: flex;
    flex-direction: row;
}
.main__div .crypto p{
    margin-right: 5%;
}
.main__div .crypto img{
    margin-top: 10%;
    margin-left: 5%;
}
.main__div .crypto h2{
    left: 5%;
}

img{
    width: 18%;
    height: 80%;
    
}
img:hover{
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 1.5s;
}

#servicios{
    display: inline-block;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 75px;
    padding: 20px;
   
}
#servicios a{
    align-items: center;
    margin-right: 100px;
    margin-left: 60px;
    margin-top: 30px;
   
    
}
.tituloServicios{
    left: 42%;
    font-size: 2.5em;
    margin-top: 0;
}
.crypto{
    display: flex;
}


.iconoA:hover{
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 1.5s;
}
/* pagina academia */
.mainAcademia{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    
}
.imagenAcademia{
    position: fixed;
    height: 30%;
    width: 13%;
    margin-left: 5%;
 
}
.boots{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.imagen{
    margin-left: 30%;
    width: 400px;
}

.mainAcademia p{
    color: rgb(19, 16, 16);
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5;
    width: 700px;
    padding: 5%;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    

}


/* pagina mineria */
.mainMineria{ 
   display: flex;
    flex-direction: column;

}
.mainMineria p{
    
    margin-left: 30%;
   
}
.blockchain{
    right: 25%;
    bottom: 25%;
    padding-bottom: 5%;
   
}

.mainMineria h2{
    margin-top: 3%;
    margin-bottom: 5%;
    
}
.imagenMineria{
    position: fixed;
    height: 35%;
    width: 13%;
    margin-left: 5%;
 
}

/* pagina contacto */
.mainContacto h2:hover{
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 1.5s;
}

.mainContacto i{
    color: rgb(239, 245, 239);
    background-color: green;
    font-size: 70px;
    border-radius: 15%;
}
.fixed{
    position: fixed;
    right: 50px;
    color: rgb(239, 245, 239);
    background-color: green;
    font-size: 70px;
    border-radius: 15%;
   margin-top: 20PX;
    
}
.margen{
   padding: 5%;
    margin-bottom: 5%;
}

.mainContacto{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
} 
.mainContacto h2{
    margin-top: 0%;
    position: absolute;
}
.formulario{

    display: flexbox;
    
   margin-left: 20%;
  padding-top: 5%;
  margin-bottom: 10%;
  color: rgb(15, 15, 15);
  
}


.formulario input{
    display: block;
    width: 400px;
    height: 50px;
    border-radius: 7%;
    border-color: rgb(4, 167, 53);
    position: left;
    margin-top: 10%;
    font-weight: bold;
    
}
.formulario input:hover{
    background-color: rgb(6, 100, 21);
    color: rgb(238, 231, 231);
}

.contacto{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    margin-right : 30%;
    margin-bottom: 10%;
   
}
.boton{
    margin-left: 100%;
    color: white;
    background-color: green;
    font-weight: bold;
}
.accordion-body{
    
        padding: 5rem 1.25rem;
    
}

.grillaContacto {
    display: grid; 
    grid-template-columns: 1.1fr 46.9% 1fr; 
    grid-template-rows: 2fr 6.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      ". mainContacto ."
      "footer footer footer"; 
  }
  .headerContacto { grid-area: header; }
  .mainContacto { grid-area: mainContacto; }
  .footerContacto { grid-area: footer; }
  


/* pagina trade */


.mainTrade{
    display: flex;
  
}
.imagenTrade{
    height: 30%;
    width: 13%;
    margin-left: 5%;
 
}


.mainTrade h2{
    margin-top: 5%;
    color: rgb(6, 63, 15);
    font-size: bold;
}
    
.mainTrade p{
    padding: 5%;
    color: rgb(15, 15, 15);
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5;
    width: 700px;
    margin-left: 10px ;
    display: inline-block;
    position: relative;
    left: 15%;
    margin-top: 5%;
}
/* media para mobile */

@media (max-width: 425px){
     
    .header {
        flex-direction: column;
    }
    .header .logo{
        
            margin-left: 175px;
            margin-top: 0.5em;
        
    }
    .lista{
        margin-right: 0;
        padding: 5%;
    }
    .lista li{
        display: inline-flex;
        font-size: 0.8em;
    }
     .main__parrafo1{
         
         padding: 10%;
     }
     .main__div a{
       display: none;

     }
     .main__div .nosotros p {
         
         padding-left: 0;
     }
     .main__div .nosotros img{
         display: none;
     }
     .main__div .crypto img {
         display: none;
     }
     .main__div .crypto p {
        margin-top: 5%;
    }
     h2{
         left: 30%;
     }
     .nosotros h2{
         left: 20%;
     }
     .iconoA {
         margin-top: 0%;
         margin-left: 35%;
         width: 25%;
     }
     #servicios{
         padding: 0;
     }
     #servicios a{
        align-items: center;
        margin-right: 40px;
        margin-top: 30px;
        margin-left: 10px;
        padding: 10px;
    }
    #servicios img{
        width: 80%;
    }
    footer p{
        margin-top: 10px;
        margin-bottom: 1rem;
        margin-left: 10px;
    }
    .tituloServicios {
        left: 30%;
    
   }
   }



